<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5552020d-a471-43cd-9b57-2fd6f4ab5c25" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5552020d-a471-43cd-9b57-2fd6f4ab5c25fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
