<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2adecedf-1b96-4358-8002-5c999bd62f18" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2adecedf-1b96-4358-8002-5c999bd62f18fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
