<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bab9fd12-1302-469d-adf9-25cc1b913c6a" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bab9fd12-1302-469d-adf9-25cc1b913c6afileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
